body{
 
    background-color: rgb(242, 239, 239) !important;
    margin: 0px;
}
.float_left{
    float: left;
}

.header {
    height: 42px;
    background-color: rgb(0, 145, 255);
    border-bottom: 1px solid black;

}
.header ul{
    list-style-type: none;
    width: 830px;
    margin: auto;
    padding-left: 0px;
    

}
.header ul li{
    color: white;
    float: left;
    line-height: 42px;
    margin-right: 30px;
    padding-left: 2px;
}

.header ul li .icon_photo{
    background-image:  url(../img/icon_header.jpg) ;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 12px;
}
.header ul li .icon_photo1{
    background-image:  url(../img/img1.jpg);
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 12px;
}
    .header ul li .icon_photo2{
    background-image:  url(../img/img2.jpg);
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 12px;
}
.header ul li .icon_photo3{
    background-image:  url(../img/img3.jpg);
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 12px;
}
.header ul li .icon_photo4{
    background-image:  url(../img/img4.jpg);
    width: 18px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 12px;
}
.header ul li .icon_photo5{
    background-image:  url(../img/img5.jpg);
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 12px;
}
.header ul li .icon_photo6{
    background-image:  url(../img/img6.jpg);
    width: 18px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 12px;
}


.header ul li p{
    margin: 0px;
    padding-left: 20px;
}
.content {
    width: 1250px;
    height: 800px;
    margin: 40px auto ;
    overflow: hidden;
    position: relative;

}

.content_left {
    width: 598px;
    margin-right: 30px;
    height: 600px;
}
.content_left .all_post{
    border: 1px solid gray; 
    text-align: center;
    background-color: rgb(252, 249, 249);   
}
.content_left .all_post h3{
    font-size: 24px;
    margin-bottom: -10px;
}

.content_left .all_post span{
    width: 620px;
    color: rgb(14, 130, 219);
}
.content_img{
    background-image: url(../img/conten_bottom.jpg);
    height:270px;
    margin-top: 30px;

}
.img_item{
    background-color:rgb(14, 130, 219);
    width: 70px;
    height: 25px;
    margin-top: 25px;
    position: absolute;
    left: 0px;
    top: 110px;
    text-align: center;
    text-decoration: none;
}
.img_item .itemBlog{
    text-decoration: none;
    padding-top: 10px;

}
}
.h2,.h3{
 color: #333;
}
.content_center {
    width: 293px;
    margin-right: 30px;
    height:200px ;
    border: 1px solid black;
}
.sidebar .widget, .sidebar-middle .widget {
    background-color: #FFF;
}
style.css?ver=1.0:557
.sidebar .widget, .sidebar-middle .widget {
    width: 250px;
    padding: 0 24px 20px 24px;
    margin-bottom: 30px;
    border: 1px solid #e1e6f0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}
style.css?ver=1.0:70
* {
    margin: 0;
    padding: 0;
}
.center_top {
    background-color: black;
    margin-top: 0px;
    color: white;
    padding-left: 20px;
}
.content_right{
    width: 293px;
    height:125px ;
    border: 1px solid black;
}
.searchform2{
    padding: 10px;
}
.content_bottom {
    border: 1px solid #000;
    height: 200px;
    margin-top: 100px;

}


.footer{
    height: 100px;
    border: 1px solid black;
    
}
