h1 {

	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
		}
p {
			font-style: italic;
			word-spacing: 10px;
			letter-spacing: 5px;
		}
div {
	background-repeat: repeat;
	color:#F44336;
	background-color:##9e9e9e;
	background-image:
	line-height:23px; 
	border-style: solid;
	border-color: #9e9e9e;
	border-radius: 8px;
}